@import url('https://fonts.googleapis.com/css?family=Nunito:regular,semi-bold,bold,extra-bold&subset=latin,latin-ext');

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Nunito';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
a {
  font-family: 'Nunito';
  margin: 0;
}

h1 {
  font-weight: 700;
  /*bold*/
  font-size: 3em;
  color: #DDFFD9;
}

h2 {
  font-weight: 600;
  /*semi-bold*/
  font-size: 1.5em;
  color: #DDFFD9;
  line-height: 0;
  text-align: center;
  padding: 0;
}

a{
  color: #DDFFD9;
}