@import url('https://fonts.googleapis.com/css?family=Karla:regular,semi-bold,bold,extra-bold&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Merriweather:regular,semi-bold,bold,extra-bold&subset=latin,latin-ext');

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Merriweather';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
a {
  font-family: 'Merriweather';
  margin: 0;
}

h1 {
  font-weight: 700;
  /*bold*/
  font-size: 3em;
  font-family: 'Karla';
  color: #E5E5E5;
}

h2 {
  font-weight: 600;
  /*semi-bold*/
  font-size: 1.5em;
  font-family: 'Merriweather';
  color: #E5E5E5;
}

p {
  font-size: 1.1em;
  font-family: 'Merriweather';
  line-height: 1.5em;
  color: #E5E5E5;
}

a{
  font-family: 'Merriweather';
  color: #E5E5E5;
}